<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.pds.mapper.PdsMapper">  
  
  <!-- 전체 자료수 -->
  <select  id="count">
  
     SELECT  COUNT(*)  AS CNT
      FROM   BOARD
      WHERE  MENU_ID = #{ menu_id  }
  
  </select>
  
  <!-- 자료실 목록 조회
   ${ search }      숫자 그냥 표시, 문자도 그냥 표시
   #{ searchtext }  숫자 그냥 표시, 문자를 '' 추가해준다
   search = title, searchtext = 파일
    AND ${ search } LIKE  '%' || #{ searchtext } || '%'
    AND title LIKE  '%' || '파일' || '%' 
  -->
   
  <select id="getPdsList" >
  
  	SELECT
  	    IDX,
  	    TITLE,
  	    WRITER,
  	    -- 상관서브쿼리 ( CORELATIVE )
  	    (  
  	       SELECT   COUNT(*)
  	        FROM    FILES  F
  	        WHERE   B.IDX = F.IDX
  	    )   FILESCOUNT,
  	    TO_CHAR( REGDATE, 'YYYY-MM-DD') REGDATE, 
  	    HIT
  	 FROM
  	    BOARD  B
  	    
     <where>
         <if test="menu_id != null and menu_id !=''">
               AND MENU_ID = #{menu_id}             
         </if>
         <if test="search != null and search !=''">
               AND ${ search } LIKE  '%' || #{ searchtext } || '%'             
         </if>
     
       </where>
       
  	 ORDER BY  
  	    IDX  DESC 
  	 OFFSET #{ offset } ROWS FETCH NEXT #{ recordSize } ROWS ONLY   
  
  </select>
  
  <!-- 게시글 저장  -->
  <insert  id="setWrite">
    INSERT INTO BOARD (
	    IDX,
	    MENU_ID,
	    TITLE,
	    CONTENT,
	    WRITER,
	    REGDATE,
	    HIT
	) VALUES (
	    ( SELECT NVL(MAX(IDX),0)+1 FROM BOARD ),
	    #{ menu_id } , 
	    #{ title   } ,
	    #{ content } ,
	    #{ writer  } ,
	    sysdate,
	    0
	)
  </insert>
  
  <!--  Files 정보 저장 -->
  <insert  id="setFileWriter">
  
    <foreach  collection="fileList"  item = "file"
       index      =  "i"
       open       =  "INSERT ALL"
       close      =  "SELECT * FROM DUAL"  
       separator  =  " "  >
       INTO FILES VALUES (  
          ( SELECT NVL(MAX(FILE_NUM), 0) FROM FILES ) + #{i} + 1,
          ( SELECT MAX(IDX) FROM BOARD ),
          #{ file.filename  },
          #{ file.fileext   },
          #{ file.sfilename }
       )       
           
    </foreach>
  
  </insert>
  
  <!--  조회수 증가 -->
  <update  id="setReadcountUpdate">
  
      UPDATE   BOARD
       SET     HIT  = HIT + 1
       WHERE   IDX  = #{ idx } 
  
  </update>
  
  <!-- 자료실 글 내용보기  -->
  <select  id="getPds">
  
    SELECT
       IDX,
       MENU_ID,
       TITLE,
       CONTENT,
       WRITER,
       TO_CHAR(REGDATE, 'YYYY-MM-DD HH24:MI:SS')  REGDATE,
       HIT         
     FROM   
       BOARD
     WHERE
       IDX  =  #{ idx } 
  
  </select>
  
  <!--  자료실 파일 목록 가져오기 -->
  <select  id="getFileList">
  
     SELECT
	    FILE_NUM,
	    IDX,
	    FILENAME,
	    FILEEXT,
	    SFILENAME
	  FROM
	    FILES
	  WHERE
	    IDX = #{ idx  }       
  
  </select>
  
  <!-- setUpdate 자료실 정보 수정-->
  <update  id = "setUpdate">
     
     UPDATE   BOARD
     SET      TITLE    =  #{ title    }
            , CONTENT  =  #{ content  } 
     WHERE    IDX      =  #{ idx      }
  
  </update>
  
  <!-- file_num 으로 FilesVo 조회 -->
  <select  id="getFileInfo">
  
    SELECT
        FILE_NUM,
        IDX,
        FILENAME,
        FILEEXT,
        SFILENAME 
     FROM   
        FILES 
     WHERE
        FILE_NUM = #{ file_num }     
  
  </select>
  
  <!-- 수정을 위한 파일 삭제  -->
  <delete  id="deleteUploadFileNum">
  	
  	DELETE
  	  FROM   FILES
  	  WHERE  FILE_NUM = #{ file_num }  	  
  	  
  </delete>
  
  <!-- idx 에 해당하는 Files 정보를 삭제 -->
  <delete  id="deleteUploadFile">
  
    DELETE  
     FROM   FILES
     WHERE  IDX   =  #{ idx } 
  
  </delete>
 
  <!-- idx 에 해당하는 board 정보를 삭제 -->
  <delete  id="setDelete">
  
    DELETE  
     FROM   BOARD
     WHERE  IDX   =  #{ idx } 
  
  </delete>
 
  
</mapper>